
*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
}



:root{
    font-size: 18px;
}


html{
    --very-pale-cyan: hsl(193, 100%, 96%);
    --very-dark-cyan: hsl(192, 100%, 9%);
    --grayish-blue: hsl(208, 11%, 55%);
    --pink: hsl(322, 100%, 66%);
}


h2,h3{
    text-transform: capitalize;
    color: var(--very-dark-cyan);
    margin-bottom: 2rem;    
}
a{
    text-decoration: none;
    color: initial;
    text-transform: capitalize;
}
a[href^="mailto:"]{
    text-transform: none;
}

.btn{
    padding: .7em 3.5em;
    border: hidden;
    border-radius: 30px;
}
.btn-1{
    color: var(--very-dark-cyan);
    background-color: #fff;
    font-size: .8rem;
    font-weight: bolder;
}
.btn-2{
    color: #fff;
    background-color: var(--pink);
}


/* insert icons */
.location::before{
    content: url(./assets/icon-location.svg);
    margin-right: 20px;

}

a[href^="tel:"]::before{
    content: url(./assets/icon-phone.svg);
    margin-right: 20px;
}
a[href^="mailto:"]::before{
    content: url(./assets/icon-email.svg);
    margin-right: 20px;
}


section{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

img{
    max-width: 90%;
}


.scroll-tracker{
    height: .5rem;
    background-color: var(--very-dark-cyan);
    position: fixed;
    inset: 0 0 auto;
    transform-origin: left;
}



.hero-page{
    padding: 5%;
    background-image: url('./assets/bg-hero-mobile.svg');
}

.logo{
    width: 6rem;
    flex: 1 1 6rem
    /* max-width: ; */
    
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.hero-section{
    margin: 4rem auto 3rem ;
    color: var(--very-dark-cyan);
}
.hero-text{
    display: flex;
    flex-direction: column;
}
.hero-text a{
    margin: 2rem auto;
}





.showcase{
    max-width: 90%;
    margin: 3rem auto;
    padding: 4rem 2rem;
    border: hidden;
    /* border-radius: .5rem; */
}

.showcase,.get-started{
    border-radius: .7rem;
}

.intro-text{
    color: var(--grayish-blue);
}
.intro-text,.hero-text,.img{
    flex: 1 1 300px;
    /* flex-basis: 350px; */
}
.showcase,.btn-1,.get-started{
    box-shadow: 0 0 .7em rgba(0, 0, 0.1,.1);
}







/* footer section */


address{
    font-style: normal;
}

ul{
    list-style-type: none;
}
footer li,footer p,footer a{
    margin-bottom: 1rem;
}
footer a{
    color: #fff;
}


footer{
    color: #fff;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: 3rem 3rem 3rem repeat(5,calc(100%/5));
}
.get-started{
    grid-area: 1/2/span 3/span 10;
    text-align: center;
    padding: 2rem;
    z-index: 50;
    background-color: #fff;
}

.boilerplate-links{
    grid-area: 3/1/span 6/span 12;
    padding: 4rem 1rem;
    padding-top: 7rem;
    background-color: var(--very-dark-cyan);
    z-index: -50;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;   
}

.boilerplate-links>*{
    flex: 0 1 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    
}

.boilerplate-links>*>*{
    margin-bottom: 2rem;
}


.copyright,.socials{
    align-items: center;
    text-align: center;
}


@media screen and (min-width:376px){
    .hero-page{
        background-image: url('./assets/bg-hero-desktop.svg');
    }

    /* logo width */
    .logo{
        width: 7rem;
    }
    /* all sections */
    section{
        text-align: initial;
        justify-content: space-between;
    }
    /* showcase boxes */
    .showcase:nth-child(odd){
        flex-direction: row-reverse;
    }

    /* footer */
    .boilerplate-links{
        justify-content: space-evenly;
    }

}


